<nav class="navbar">
  <!-- Logo -->
  <a href="/" class="logo">
    <img src="/assets/logo.png" alt="logo" />
  </a>

  <!-- Navegação principal -->
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/article/page/1">Novidades</a></li>

    <!-- Dropdown -->
    <li class="dropdown">
      <a href="#">Categorias ▾</a>
      <ul class="dropdown-menu">
        <% categories.forEach(category => {%>
        <li><a href="/category/<%= category.slug %>"><%= category.title %></a></li>
        <% }) %>
      </ul>
    </li>
  </ul>

</nav>