<header>
    <nav class="navbar">
        <a href="/home">
            <img src="/assets/logo.png" class="logo" alt="logo do blog" />
        </a>

        <ul class="nav-link">
            <li><a href="/home">Inicio</a></li>
            <li><a href="/my-posts">Minhas postagens</a></li>
            <li><a href="/admin/categories">Categorias</a></li>
            <li><a href="/search">Procurar</a></li>
        </ul>

        <div class="nav-menu">
            <div>
                <p>
                    <span class="start">Bem vindo,</span>
                    <span class="end">Carlos Alexandre</span>
                </p>
                <img
                    src="/assets/user_image.png"
                    class="user-image"
                    alt="imagem do usuario"
                />
            </div>
            <a href="/logout" style="color: red"
                ><i class="fi fi-br-exit"></i
            ></a>
        </div>
    </nav>
</header>
