<%- include('../../partials/head') %>
<%- include('../../partials/navbar-slim') %>
<section class="container">
  <div class="form-container">
    <div class="form-header">
      <div>
        <h1>Seja Bem Vindo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>

    <div class="form-body">
      <form action="/register/auth" method="post" id="contentForm">
        <div class="form-group">
          <label for="name"> Seu nome </label>
          <input type="text" id="name" name="name" placeholder="Seu nome" value="Carlos" required />
        </div>

        <div class="form-group">
          <label for="email"> Seu email </label>
          <input type="email" id="email" name="email" placeholder="Coloque seu email" value="emailemail@gmail.com" required />
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="password"> Sua senha </label>
            <input type="password" id="password" name="password" placeholder="Crie uma senha" value="12345678" required />
          </div>

          <div class="form-group">
            <label for="password-repeat"> Repita sua senha </label>
            <input type="password" id="password-repeat" name="password-repeat" placeholder="Repita a senha" value="12345678" required />
          </div>
        </div>

        <div class="form-group terms-group">
          <label class="terms-checkbox">

            <input type="checkbox" name="terms" required />

            <span class="checkmark"></span>

            <span class="terms-text">
              Eu concordo com os
              <a href="/terms" target="_blank">
                Termos e Condições
              </a>
            </span>

          </label>

        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            Finalizar
          </button>
        </div>

        <br>
        <a href="/admin/login">Entrar</a>
      </form>
    </div>
  </div>
</section>
<%- include('../../partials/footer') %>