<%- include('layouts/head') %> <%- include('layouts/navbar') %>
<section class="container">
    <h1>OI</h1>
    <a href="/categories">Categorie</a>
    <a href="/admin/categories/new">Categorie new</a>
</section>
<%- include('layouts/footer') %>
