:root {
    --color-primary: #4862e0;
    --color-shadow-primary: rgba(72, 97, 224, 0.1);
    --color-secundary: #7329ff;
    --color-title: #1d1d1d;
    --color-txt: #434343;
    --color-light: #eee;
    --color-success-light: rgba(40, 167, 70, 0.3);
    --color-success: #28a745;
    --color-danger-light: rgba(220, 53, 70, 0.3);
    --color-danger: #dc3546;
}
