* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

body {
    font-size: 1.1em;
    background: linear-gradient(to bottom, #ffffff, #eef4ff);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}

p,
label {
    letter-spacing: -0.5px;
}

p,
a,
label,
input {
    color: var(--color-txt);
    text-decoration: none;
    transition: color 300ms ease;
}

a,
i {
    display: inline-flex;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: -1px;
    line-height: 1.2;
    color: var(--color-title);
}

ul {
    list-style-type: none;
}

.container {
    padding: 2rem 20%;
}

.article {
    padding-inline: 20%;
}
