<%- include('../../partials/head') %> <%- include('../../partials/navbar-admin')
%>
<section class="container">
    <div class="form-container">
        <div class="form-header">
            <div>
                <h1>📝 Nova categoria</h1>
                <p>Crie aqui sua categoria</p>
            </div>
        </div>

        <div class="form-body">
            <form action="/category/save" method="post" id="contentForm">
                <div class="form-group">
                    <label for="title"> <i>📌</i> Título do Conteúdo </label>
                    <input
                        type="text"
                        id="title"
                        name="title"
                        placeholder="Digite um título atraente para seu conteúdo..."
                        required
                    />
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        💾 Salvar Conteúdo
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<%- include('../../partials/footer') %>
