<%- include('../partials/head')%> <%- include('../partials/navbar')%>

<section class="container">
  <div class="article-content">
    <%- body %>
  </div>
</section>

<%- include('../partials/footer')%>