<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<section class="container">
  <h1>Inicio</h1>
  <br>
  <div class="list-cards">
    <% articles.forEach(article => { %>
    <%- include('../partials/card', { article }) %>
    <% }) %>
  </div>

</section>
<%- include('../partials/footer') %>