.list-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* CARD */
.blog-card {
    width: calc(33.33% - 1rem);
    height: 450px;
    max-height: 450px;
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

/* HOVER */
.blog-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

/* IMAGEM */
.card-image {
    position: relative;
}

.card-image img {
    width: 100%;
    display: block;
}

/* CATEGORIA */
.card-category {
    position: absolute;
    top: 12px;
    left: 12px;
    background: var(--color-primary);
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 999px;
}

/* CONTEÚDO */
.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.1em;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.card-description {
    font-size: .8em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Número máximo de linhas */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FOOTER */
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-date {
    font-size: 12px;
    color: #888;
}

/* BOTÃO */
.card-button {
    text-decoration: none;
    background: var(--color-primary);
    color: #fff;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 8px;
    transition: 0.3s;
}

.card-button:hover {
    background: var(--color-primary);
}
